2 trimestre/lenguaje de marcas/Actividades/tema 4/002-plantilla.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Elemento raíz -->
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="apellidos" type="xs:string"/>
        <xs:element name="profesion" type="xs:string"/>

        <!-- roles -->
        <xs:element name="roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rol" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- proyectosDestacados -->
        <xs:element name="proyectosDestacados">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="proyecto" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- interesesTecnicos -->
        <xs:element name="interesesTecnicos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="interes" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- ubicacion -->
        <xs:element name="ubicacion" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
